<h1>HEADLINE - LOREM IPSUM DOLLAR SINAR. OREM. SIN AR DOLLAR.</h1>

{% for product in products %}
  <div class="product-teaser" style="background-image: {{ product.img }}">
    <span class="description">{{ product.name }}</span>
    <div class="cta-button">Buy</div>
  </div>
{% endfor %}

<div class="page-description">
  LOREM IPSUM DOLLAR SINAR. OREM. SIN AR DOLLAR. LOREM IPSUM DOLLAR SINAR. OREM. SIN LOREM IPSUM DOLLAR SINAR. OREM. SIN AR DOLLAR. LOREM IPSUM DOLLAR
  SINAR. OREM. SINLOREM IPSUM DOLLAR SINAR. OREM. SIN AR DOLLAR. LOREM IPSUM DOLLAR SINAR. OREM. SIN LOREM IPSUM DOLLAR SINAR. OREM. SIN AR DOLLAR.
  LOREM IPSUM DOLLAR SINAR. OREM. SIN LOREM IPSUM DOLLAR SINAR. OREM. SIN AR DOLLAR. LOREM IPSUM DOLLAR SINAR. OREM. SIN LOREM IPSUM DOLLAR SINAR.
  OREM. SIN AR DOLLAR. LOREM IPSUM DOLLAR SINAR. OREM. SIN
</div>
